<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!--CSS files-->
  <link rel='stylesheet' href='/Content/style.css'/>
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css"/>
 
</head>
<body>
<!--Navigation Bar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id = "navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Saaketh Potluri</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <% if (title == "Home") { %>
          <a class="nav-link active" href="#Home">
          <% } else { %>
          <a class="nav-link" href="#Home">
          <% } %>
          <i class="fa-solid fa-house"></i> Home</a>
        </li> 
        <li class="nav-item">
        <% if (title == "About Me") { %>
          <a class="nav-link active" href="#AboutMe">
          <% } else { %>
          <a class="nav-link" href="#AboutMe">
          <% } %>
          <i class="fa-solid fa-circle-info"></i> About Me</a>
        </li>        
        <li class="nav-item">
        <% if (title == "Products") { %>
          <a class="nav-link active" href="#Projects">
          <% } else { %>
          <a class="nav-link" href="#Projects">
          <% } %>
          <i class="fa-brands fa-elementor"></i> Projects</a>
        </li>
        <li class="nav-item">
        <% if (title == "Contact Me") { %>
          <a class="nav-link active" href="#ContactMe">
          <% } else { %>
          <a class="nav-link" href="#ContactMe">
          <% } %>
          <i class="fa-solid fa-phone"></i> Contact Me</a>
        </li>              
    </div>
  </div>
</nav>

<section id="Home">
        <div class="container">
            <img src="Assets/images/mypic2.jpg" alt="Profile Image" class="profile-image">
            <h2>Hello, I'm Saaketh Potluri</h2>
        </div>
    </section>

    <section id="AboutMe">
        <div class="container">
            <h1>About Me</h1>
    <p>Hello! I'm a second-year student majoring in Technology Management at Ontario Tech University.</p>
    <p>I have a passion for coding and enjoy tackling challenging projects. Whether it's solving complex coding problems or developing innovative software, I'm always up for the challenge.</p>
    <p>In addition to coding, I'm a sports enthusiast. I follow soccer and Formula 1 closely, and you can often find me discussing the latest match results or race updates with fellow fans.</p>
    <p>I'm eager to make new friends and contribute to the tech industry. Let's connect and collaborate on exciting tech projects!</p>
    <h4>Skills:</h4>
    <ul>
        <p><li><b>Programming Languages:</b> Proficient in languages such as Python, Java, C++, and JavaScript.</li></p>
        <p><li><b>Web Development:</b> Experienced in building responsive and interactive web applications using HTML, CSS, and various front-end and back-end frameworks.</li></p>
        <p><li><b>Software Development:</b> Skilled in developing software solutions, from concept to deployment, and maintaining them for optimal performance.</li></p>
        <p><li><b>Problem Solving:</b> I enjoy taking on challenging coding problems and finding creative solutions.</li></p>
 
    </ul>
            
            
            <center>
            <div>
                <video width="320" height="240" class="center" controls>
                    <source src="/Assets/images/my_intro.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            </center>
        </div>
    </section>

    <section id="Projects">
        <div class="container">
            <h1>Projects</h1>
            <div class="project">
                <h2>Project 1: Python Jumbled Words</h2>
                <p>
                Project 1: Python Jumbled Words

In this Python project, I embarked on the creation of an engaging and fun game for two players - the Python Jumbled Words game. The primary objective of this project was to enhance my programming skills while also providing an interactive and enjoyable experience for players. The game revolves around unscrambling jumbled words and scoring points for correct guesses.

The project's core features included a random word generator, a mechanism to jumble the words, user input for guessing, scoring, and a simple graphical user interface (GUI) for a better user experience. Let me walk you through the project's components in detail.

<li><b>Word Jumbling:</b>
The heart of the game lies in taking a randomly selected word and shuffling its letters to create a jumbled word. This required creating a function to generate random words from a predefined list or database and then rearranging the letters to create jumbled versions.</li>

<li><b>User Interaction:</b>
For the game to be interactive, I designed a simple text-based interface where two players could take turns guessing the jumbled words. Each player was prompted to input their guess, which was then checked for correctness. A correct guess would earn them a point, which was displayed on the screen.</li>
<li><b> Scoring System:</b>
The scoring mechanism involved maintaining a tally of points for each player. A player received one point for each correct guess, and their scores were updated and displayed after each turn. The game continued until both players had their turn, or a predetermined number of rounds were completed.</li>               
                </p>
            </div>
            <br>
            <div class="project">
                <h2>Project 2: Python Ciphers</h2>
                <p>
                The Python Ciphers project was a more advanced venture, undertaken as part of an Object-Oriented Programming (OOP) course. This project aimed to deepen my understanding of Python, OOP concepts, and cryptography. The project encompassed various ciphers, including RSA, Caesar Cipher, and Playfair Cipher, and was organized into distinct classes and methods for modularity and code reusability.

<li><b>RSA Encryption and Decryption:</b>
The RSA (Rivest-Shamir-Adleman) encryption and decryption processes were implemented using the modular exponentiation method. I created classes for key generation, encryption, and decryption, enabling secure communication between two parties.</li>

<li><b>Caesar Cipher:</b>
The Caesar Cipher, a basic substitution cipher, was implemented with customizable shift values. I designed a class for both encryption and decryption, allowing users to encode and decode messages with ease.</li>

<li><b>Playfair Cipher:</b>
The Playfair Cipher, a digraph substitution cipher, was realized with a focus on handling duplicate letters and special cases. A class was created for generating the key matrix and another for encryption and decryption.</li>
                
               </p>
            </div>
        </div>
    </section>

    <section id="ContactMe">
        <div class="container">
            <h1>Contact Me</h1>
            <form>
                <label for="name">Name:</label>
                <input type="text" name="name" placeholder="Enter your full name" required>
                <label for="email">Email address:</label>
                <input type="email" name="email" placeholder="Enter your email address" required>
                <label for="message">Message:</label>
                <textarea name="message" placeholder="Enter your message" required></textarea>
                <input type="submit" value="Submit">
            </form>
        </div>
    </section>

    <footer>
        <div class="container">
            
            <p>You can reach me at <a href="mailto:saaketh.potluri@ontariotechu.net">saaketh.potluri@ontariotechu.net</a></p>
            <p><a href="https://www.linkedin.com/in/saaketh-potluri-a76a2b272/"><i class="fa-brands fa-linkedin"></i>&nbsp https://www.linkedin.com/in/saaketh-potluri-a76a2b272/</a></p>
            <p><a href="https://github.com/Saaketh01"><i class="fa-brands fa-github fa-lg"></i>&nbsp https://github.com/Saaketh01</a></p>
        
        </div>
    </footer>
    
    
    </body>
</html>
