<!DOCTYPE html>
<html>
            <p>You can reach me at <a href="mailto:saaketh.potluri@ontariotechu.net">saaketh.potluri@ontariotechu.net</a></p>
            <p><a href="https://www.linkedin.com/in/saaketh-potluri-a76a2b272/"><i class="fa-brands fa-linkedin"></i>&nbsp https://www.linkedin.com/in/saaketh-potluri-a76a2b272/</a></p>
            <p><a href="https://github.com/Saaketh01"><i class="fa-brands fa-github fa-lg"></i>&nbsp https://github.com/Saaketh01</a></p>
        
</footer>
</html>