<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel='stylesheet' href='/Content/app.css'/>
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css"/>
</head>

<body>
<section id="Home">
        <div class="container">
            <img src="Assets/images/mypic2.jpg" alt="Profile Image" class="profile-image">
            <h2>Hello, I'm Saaketh Potluri</h2>
        </div>
    </section>

    <section id="AboutMe">
        <div class="container">
            <h1>About Me</h1>
    <p>Hello! I'm a second-year student majoring in Technology Management at Ontario Tech University.</p>
    <p>I have a passion for coding and enjoy tackling challenging projects. Whether it's solving complex coding problems or developing innovative software, I'm always up for the challenge.</p>
    <p>In addition to coding, I'm a sports enthusiast. I follow soccer and Formula 1 closely, and you can often find me discussing the latest match results or race updates with fellow fans.</p>
    <p>I'm eager to make new friends and contribute to the tech industry. Let's connect and collaborate on exciting tech projects!</p>
    <h4>Skills:</h4>
    <ul>
        <p><li><b>Programming Languages:</b> Proficient in languages such as Python, Java, C++, and JavaScript.</li></p>
        <p><li><b>Web Development:</b> Experienced in building responsive and interactive web applications using HTML, CSS, and various front-end and back-end frameworks.</li></p>
        <p><li><b>Software Development:</b> Skilled in developing software solutions, from concept to deployment, and maintaining them for optimal performance.</li></p>
        <p><li><b>Problem Solving:</b> I enjoy taking on challenging coding problems and finding creative solutions.</li></p>
 
    </ul>
        </div>
    </section>
    </body>